@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	font-family: 'Lato', sans-serif;
}
a:link {
    color: white;
	text-decoration: none;
}
a:visited {
    color:  blue;
	text-decoration: none;
}

a:hover {
    color: #FF5733;
	text-decoration: underline;
}

a:active {
    color: red;
	text-decoration: underline;
}
body{
	background-color: #91CDF3;
	overflow-y:scroll;
}
input:hover{
	background: #FF5733;
}
footer{
	width:100%;
	margin-top:1em;
	padding:0px;

	display:inline-flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:space-around;
}
body>header>nav{
	text-align: center;
		overflow: hidden;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top:1.5em;
		list-style:none;
		margin:0;
		padding:0;
		text-align: center;
		margin:.1em 0;
		display:block;
		}
article{
text-align: center;
}
.imagen{
	float:left;	
}
article>figure{
display:inline-block;
vertical-align: middle;
}	
div.botoncillos{
display:inline-block;
}
.busqueda{
	text-align: center;
	vertical-align:middle;
	
}
div.form2{
	display:inline-block;
	justify-content: center;
	margin:auto;
	text-align: center;
	width:80%;
}
button.boton:hover{
	background:red;
}
#holi{
	background:red;
}
/*Pongo aqui navegador*/
input[type="checkbox"]{
	display: none;
}

nav[class="menu"]{	
	
	padding: 1em;
	text-align: center;
	overflow: hidden;
	
}
nav[class="menu"]>div>ul{
	list-style: none;
	display: flex;
	margin-top:-0.7em;
	text-align: center;
		justify-content: center;
}
nav[class="menu"]>div>ul>li:hover{
	transistion:all 0.4s;
}
fieldset{
	width:100px;
}
form#iniciarsesion{
	float: right;
}
form#iniciarsesionpeq{
	display:none;
}

form{
	width:215px;
	margin:40px;
	padding:20px;
	margin-top:20px;

}
#formulario{
	width:500px;
	margin:20px;
	padding:10px;
	display: block;
	margin:auto;
	border:1px solid #000000;

}

h1{
	
	text-align: center;
}
h2{
		
	text-align: center;
}
header{
	background: #0C74B4;
	width:100%;
	height:300px;
}

input, textarea{
	margin-bottom:5px;
	width:200px;
	padding:5px;

}
input:focus{
	border-color:#FF5733;
} 
label{
	font-size:12px;
	display:block;
	width:100%;
}

p{
	margin: 20px;
}
input.busc{
	position : relative;
	float: right;
	margin-top:2em;
}
#orden{
	position: relative;
	margin-left: 1em;
}
nav.menu2{
	display: none;
}
/*TABLET*/
@media (max-width: 768px){
	nav.menu{
		display:none;
	}
	nav.menu2{
		display:block;
	}
	input[type="checkbox"]{
	display: none;
}
nav[class="menu2"]{	
	
	padding: 1em;
	text-align: center;
	overflow: hidden;
	
}
nav[class="menu2"]>div>ul{
	list-style: none;
	display: flex;
	margin-top:-0.7em;
	text-align: center;
		justify-content: center;
}
nav[class="menu2"]>div>ul>li:hover{
	transistion:all 0.4s;
}
}
/*Movil*/

@media (max-width: 481px){
	nav.menu{
		display:inline-flex;
	}
	nav.menu2{
		display:none;
	}
	input[type="checkbox"]{
		display: block;
	}
	#menutoggle{
		display: block;
		position: relative;
		top: 3em;
		
		z-index: 1;
	}
	#menutoggle input{
	display: block;
	width: 3em;
	height: 3em;
	position: absolute;
  
	cursor: pointer;
  
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
  

	}
	#menutoggle span{
		 display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
  
		background: #000000;
		border-radius: 3px;
  
		z-index: 1;
  
		transform-origin: 4px 0px;
  
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
	}
	#menutoggle span:first-child{
		transform-origin: 0% 0%;
	}
	#menutoggle span:nth-last-child(2){
		transform-origin: 0% 100%;
	}
	#menutoggle input:cheked ~ span{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}
	#menutoggle input:checked ~ span:nth-last-child(2){
		transform: rotate(-45deg) translate(0, -1px);
	}
	#menutoggle input:checked ~ span:nth-last-child(3){
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menu{
		position: relative;
		margin: -2em 0 0 -2em;
		padding: 2em;
  
		display:block;
		background: white;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
  
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
  
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#menu li{
		font-size: 1em;
		
	}
	#menutoggle input:checked ~ ul{
		transform: none;
	}
	article>figure{
		position:center;
		display:inline-block;
		vertical-align: middle;
	}	
	header .leftheader{
		width:25%;
	}
	
	.leftheader img{
		max-width: 150px;
	}
	
	header .rightheader{
		width: 20%;
	}
	
	header .centerheader{
		font-size: 14px;
		width:12%;
	}
	
	footer{
		font-size: 12px;
	}
	
	.rightheader input{
		max-width: 100px;
	}
	
	.perfilheader img{
		height: 20px;
	}
	
	.centerheader{
		margin-top: 30px;
	}
}






